
   /* BASE CONTAINTER */
   body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #DE6B33;
    }

    .mobile-container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 600px;
        text-align: center;
    }
   

    .date-time-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);        
    }

    


    .logo {
        margin-bottom: 40px;
    }

    .logo img {
        max-width: 100%;
        height: auto;
        max-height: 50px; /* Adjust this value to fit the logo */
    }

    .time {
        font-size: 60px;
        color: White;
        
    }

    .date {
        display: grid;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        justify-content: end;
        align-items: end;
        
    }

    h1 {
        font-size: 30px;
        color: black;
        margin: 20px 0;
    }

    p {
        color: grey;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .pin-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-items: center;
        margin-bottom: 30px;
    }

    .pin-container button {
        width: 80px;
        height: 80px;
        font-size: 24px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #eee;
        cursor: pointer;
        color: #435277;
    }

    .pin-display {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .name-display {
        font-size: 40px;
        text-align: center;
        
        padding: 10px;
    
     
        margin-right: 10px;
    }

    .pin-display input {
        font-size: 24px;
        text-align: center;
        width: 200px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-button {
        background-color: #435277;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        height: 100%;
    }

    .search-button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }

    .actions {
        margin-top: 30px;
    }

    .actions a {
        color: #005C66;
        text-decoration: none;
        font-size: 16px;
    }

    .company-info {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        font-size: 14px;
    }


    .button-container {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr);
        gap: 10px;
        justify-items: center;
        margin-bottom: 30px;
        margin-left: 50px;
    }


    .button-container button {
        width: 100px;
        height: 40px;
        font-size: 10px;
        cursor: pointer;
    }


    /* PBTH FORM

    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
    } */
    
    .container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 500px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .button-group {
        margin-bottom: 20px;
        
    }
    
    button {
        background-color: #435277;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }
    
    span {
        font-size: 16px;
        color: #555;
        margin-right: 20px;
    }
    
    .toggle-group {
        margin-bottom: 10px;
    }
    
    .hidden {
        display: none;
    }

    .button-close
    {
        margin: 130px;
        background-color: #d35162;
        color: white;

    }
    