{% extends 'index.html' %} 
{%load static%}

{% block container %}

<script>
    function closePeriod(){
        event.preventDefault();
        if (confirm('Are you sure to close this Period?'))
        {
            window.location.href = "/wtc/close_period/{{period.id}}";
        }  
    }

    function search_payroll(period){
        event.preventDefault();
        empS = document.getElementById('emptStatus');
        empSValue = empS.options[empS.selectedIndex].value;
        empT = document.getElementById('empType');
        empTValue = empT.options[empT.selectedIndex].value;
        console.log(empSValue);
        console.log(empTValue);

        window.location.href = `/wtc/employee_admin_list/${period}/${empTValue}/${empSValue}`;

    }


 
    function toggleOvertime(checkbox, empId, periodId) {
        fetch("{% url 'toggle_overtime' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                employee_id: empId,
                period_id: periodId,
                checked: checkbox.checked
            })
        })
        .then(response => response.json())
        .then(data => {
            if (!data.success) {
                alert("Error updating overtime status.");
                checkbox.checked = !checkbox.checked; // revert
            }
        })
        .catch(() => {
            alert("Error updating overtime status.");
            checkbox.checked = !checkbox.checked; // revert
        });
}

</script>

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h6 class="card-header card-header-wc">Filters</h6>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">                               
                                    Emp. Type                                    
                                    <select name="empType" id="empType" class="form-control">
                                        {%if selectedEmpType == "0" %}
                                            <option value="0" selected>Select an Emp. Type</option>
                                        {%else%}
                                            <option value="0">Select an Emp. Type</option>
                                        {%endif%}
                                        {% for et in empType %}
                                            {% if et.empTypeID|slugify == selectedEmpType|slugify %}
                                                <option value="{{et.empTypeID}}" selected>{{et.name}}</option>
                                            {% else %}
                                                <option value="{{et.empTypeID}}">{{et.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>                              
                            </div> 
                         
                                <div class="col-lg-3">                               
                                        Status                                    
                                        <select name="emptStatus" id="emptStatus" class="form-control">
                                            {%if selectedEmptStatus == "0" %}
                                                <option value="0" selected>Select an Status</option>
                                            {%else%}
                                                <option value="0">Select an Status</option>
                                            {%endif%}
                                            {% for es in empStatus %}
                                                {% if es.empStatusID|slugify == selectedEmptStatus|slugify %}
                                                    <option value="{{es.empStatusID}}" selected>{{es.name}}</option>
                                                {% else %}
                                                    <option value="{{es.empStatusID}}">{{es.name}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>                              
                                </div>                                   
                            
                            <div class="col-lg-3 pt-4">
                                <a href="#" type="button" onClick="search_payroll({{period.id}})" type="button" class="btn btn-success">Search</a>                         
                               
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">      
            <div class="col-sm-12 my-3 text-right">
                
                <a id="payrollBtn" href="/wtc/get_payroll/{{period.id}}/{{selectedEmpType}}/{{selectedEmptStatus}}/True" type="button" class="btn btn-success">Payroll</a> 
                <a id="timesheetBtn" href="/wtc/get_timesheet/{{period.id}}/0/{{selectedEmpType}}/{{selectedEmptStatus}}/True" type="button" class="btn btn-success">TIMESHEET</a>                 
                <a href="#" type="button" onClick="closePeriod()" class="btn btn-warning">Close Period</a> 
                <a href="/wtc/period_admin_list/" type="button" class="btn btn-danger">Close</a> 
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <div class="card-header card-header-wc">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-between">
                                <h6 class="">Payrol from {{period.fromDate}} to {{period.toDate}} </h6>
                                <div class="">
                                        {% for et in empType %}
                                            {% if et.empTypeID|slugify == selectedEmpType|slugify %}
                                                 <span class="badge badge-success px-2 py-2 h4 text-white">{{et.name}} </span>                                            
                                            {% endif %}
                                        {% endfor %}
                                        {% for es in empStatus %}
                                            {% if es.empStatusID|slugify == selectedEmptStatus|slugify %}
                                                <span class="badge badge-success px-2 py-2 h4 text-white">{{es.name}} </span>                                            
                                            {% endif %}
                                        {% endfor %}                                 
                                </div>
                            </div>                          
                        </div>
                    </div>  
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-12">              
                                <table id="orders" class="table table-sm table-bordered table-striped">
                                        <thead class="table-primary">
                                            <tr>
                                                <th scope="col" style="width: 5%">Id</th>
                                                <th scope="col" style="width: 12%">Last Name</th>
                                                <th scope="col" style="width: 12%">First Name</th>                                        
                                                <th scope="col" style="width: 10%">Title</th>
                                                <th scope="col" style="width: 15%">Emp. Type</th>
                                                <th scope="col" style="width: 5%">Badge Num</th>
                                                <th scope="col" style="width: 5%">Regular</th>
                                                <th scope="col" style="width: 5%">Overtime</th>
                                                <th scope="col" style="width: 5%">Doubletime</th>
                                                <th scope="col" style="width: 5%">Holiday</th>                                                
                                                <th scope="col" style="width: 5%">Vacation</th>                                                
                                                <th scope="col" style="width: 5%">Sick</th>                                                
                                                <th scope="col" style="width: 5%">Total</th>
                                                <th scope="col" style="width: 10%">Custom</th>
                                                <th scope="col" style="width: 6%">Overtime</th>
                                                <th scope="col" style="width: 5%"></th>
                                            </tr>            
                                        </thead>
                                        <tbody>                                       
                                            {% for data in dataset %}
                                                <tr>
                                                        <td>{{data.empID}}</td>                                                  
                                                        <td>{{data.last_name}}</td>                                                  
                                                        <td>{{data.first_name}}</td>                                                   
                                                        <td>{{data.title}}</td>
                                                        <td>{{data.employee_type}}</td>
                                                        <td>{{data.badgeNum}}</td>
                                                        <td>{{data.regular_hours}}</td>
                                                        <td>{{data.overtime_hours}}</td>
                                                        <td>{{data.double_time}}</td>
                                                        <td>{{data.holiday_hours}}</td>
                                                        <td>{{data.vacation_hours}}</td>
                                                        <td>{{data.sick_hours}}</td>
                                                        <td>{{data.total_hours}}</td>  
                                                        <td>${{data.custom}}</td>
                                                        <td class="text-center align-middle">
                                                            <input type="checkbox"
                                                                style="width: 20px; height: 20px;"
                                                                {% if data.ot_allowed %}checked{% endif %}
                                                                onchange="toggleOvertime(this, '{{data.empID}}', '{{period.id}}')">
                                                        </td>
                                                        <td>
                                                            <a href="/wtc/employee_admin_detail/{{period.id}}/{{data.empID}}"><i class="fa-solid fa-arrow-right" style="color: green;"></i></a>                                                         
                                                        </td>

                                                </tr>                                             
                                            {% endfor %}
                                        </tbody>                              
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}