{% extends 'base.html' %} 
{%load static%}
{% load widget_tweaks%}
{% load humanize %}
{% block container %}


<script src="{% static 'workTimeControl/js/inputBySalary.js' %}"></script>
<link rel="stylesheet" href="{% static 'workTimeControl/css/bySalary.css' %}">



<div class="container">
    <form method='post' action="{{request.path}}" class="modal-content" id="wtc">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Work Time Control</h5>           
        </div>              
       
        <div class="modal-body">
            <!--<div class="row">        
                {{ form.as_p }}
            </div>     -->
            <div class="row">                    
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.EmployeeID.id_for_label }}" class="form-label">Employee</label>
                        {% render_field form.EmployeeID class="form-control" name="EmployeeID" id="EmployeeID"%}
                        <div class="invalid-feedback">{{ form.EmployeeID.errors|first }}</div>
                    </div>    
                </div>
            </div>
            <div class="row">                    
                         
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.periodID.id_for_label }}" class="form-label">Period</label>
                        {% render_field form.periodID class="form-control" name="periodID" id="periodID"%}
                        <div class="invalid-feedback">{{ form.periodID.errors|first }}</div>
                    </div>    
                </div>
            </div>  
            <div class="row">                    
                <div class="col-sm-6">
                    <div class="mb3">
                        <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                        {% render_field form.date class="form-control" type="date" name="date" id="date"%}
                        <div class="invalid-feedback">{{ form.date.errors|first }}</div>
                    </div>    
                </div>
                              
                <div class="col-sm-6">
                    <div class="mb3">
                        <label for="{{ form.regular_hours.id_for_label }}" class="form-label">Regular</label>
                        {% render_field form.regular_hours class="form-control" name="regular_hours" id="regular_hours"%}
                        <div class="invalid-feedback">{{ form.regular_hours.errors|first }}</div>
                    </div>    
                </div>
            </div>  
            <div class="row">                    
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.vacation_hours.id_for_label }}" class="form-label">Vacation</label>
                        {% render_field form.vacation_hours class="form-control" name="vacation_hours" id="vacation_hours"%}
                        <div class="invalid-feedback">{{ form.vacation_hours.errors|first }}</div>
                    </div>    
                </div>
            </div>   
            <div class="row">                    
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.sick_hours.id_for_label }}" class="form-label">Sick</label>
                        {% render_field form.sick_hours class="form-control" name="sick_hours" id="sick_hours"%}
                        <div class="invalid-feedback">{{ form.sick_hours.errors|first }}</div>
                    </div>    
                </div>
            </div> 
            <div class="row">                    
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.holiday_hours.id_for_label }}" class="form-label">Holiday</label>
                        {% render_field form.holiday_hours class="form-control" name="holiday_hours" id="holiday_hours"%}
                        <div class="invalid-feedback">{{ form.holiday_hours.errors|first }}</div>
                    </div>    
                </div>
            </div> 
            <div class="row">                    
                <div class="col-sm-12">
                    <div class="mb3">
                        <label for="{{ form.other_hours.id_for_label }}" class="form-label">Others</label>
                        {% render_field form.other_hours class="form-control" name="other_hours" id="other_hours"%}
                        <div class="invalid-feedback">{{ form.other_hours.errors|first }}</div>
                    </div>    
                </div>
            </div>   
        </div>

        
        <div class="modal-footer">          
            <button type="submit" class="btn btn-primary" form="wtc">Save</button>
            {% if form.instance.id > 0 %}
                {%if empID == None %}
                    <a class="btn-wtc btn-warning" href="/wtc/paidBySalaryRemove/{{form.instance.periodID.id}}/{{form.instance.id}}">Remove</i></a>  
                {%else%}
                    <a class="btn-wtc btn-warning" href="/wtc/paidBySalaryRemoveSup/{{form.instance.periodID.id}}/{{form.instance.id}}/{{empID}}">Remove</i></a>  
                {%endif%} 
            {%endif%} 
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> 
        </div>
   
    </form>
</div>

{% endblock %}