{% extends 'base.html' %} 
{%load static%}
{% load widget_tweaks%}
{% load humanize %}
{% block container %}

<div class="container">
    <form method='post' action="{{request.path}}" class="modal-content" id="wtc">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Work Time Control</h5>           
        </div>              
       
        <div class="modal-body">                    
                            
                                Using the formset 
                                    <div class="row">
                                        {{ form.as_p }}
                                     </div>
                                 
                                
                                <div class="modal-footer">          
                                    <button type="submit" class="btn btn-primary" form="wtc">Save</button>
                                    <!--{% if form.instance.id > 0 %}
                                        {%if empID == None %}
                                            <a class="btn btn-warning" href="/wtc/paidBySalaryRemove/{{form.instance.periodID.id}}/{{form.instance.id}}">Remove</i></a>  
                                        {%else%}
                                            <a class="btn btn-warning" href="/wtc/paidBySalaryRemoveSup/{{form.instance.periodID.id}}/{{form.instance.id}}/{{empID}}">Remove</i></a>  
                                        {%endif%} 
                                    {%endif%} -->
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> 
                                </div>
                           
                            </form>
                        </div>
                        
{% endblock %}