{% extends 'index.html' %} 
{%load static%}

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">      
            <div class="col-sm-12 my-3 text-right">
                
                <a href="/home/" type="button" class="btn btn-danger">Close</a> 
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <div class="card-header card-header-wc">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6 class="" >Period List </h6>
                            </div>                          
                        </div>
                    </div>  
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-12">              
                                <table id="orders2" class="table table-sm table-bordered table-striped">
                                        <thead class="table-primary">
                                            <tr>
                                                <!--<th scope="col" style="width: 8%">Id</th>-->
                                                <th scope="col" style="width: 20%">From Date</th>                                        
                                                <th scope="col" style="width: 20%">To Date</th>
                                                <th scope="col" style="width: 20%">Pay Date</th>
                                                <th scope="col" style="width: 25%">Status</th>
                                                <th scope="col" style="width: 5%"></th>
                                            </tr>            
                                        </thead>
                                        <tbody>                                       
                                            {% for data in dataset %}
                                                <tr>
                                                        <!--<td>{{data.clientID}}</td>-->
                                                        <td>{{data.fromDate}}</td>                                                  
                                                        <td>{{data.toDate}}</td>                                                  
                                                        <td>{{data.payDate}}</td>                                                  
                                                        <td>{{data.get_status_display}}</td>
                                                        <td>                                                            
                                                            {%if emp.EmpType.empTypeID == 3%}
                                                                <a href="/wtc/period_management/{{data.id}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>   
                                                            {%elif emp.EmpType.empTypeID == 4%}   
                                                                <a href="/wtc/period_management_manually/{{data.id}}"><i class="fa-solid fa-pen-to-square" style="color: blue;"></i></a>   
                                                            {% endif %}                                                   
                                                        </td>
                                                </tr>                                             
                                            {% endfor %}
                                        </tbody>                              
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}