{% extends 'index_pbs.html' %}
{%load static%}

{% load widget_tweaks%}
{% load humanize %}

{% block container %}

<link rel="stylesheet" href="{% static 'workTimeControl/css/bySalary.css' %}">
<script src="{% static 'workTimeControl/js/bySalary.js' %}"></script>


<div class="container">

    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <input type="text" value="{{period.fromDate|date:'SHORT_DATE_FORMAT'}}" id="iDate" name="iDate" hidden>
            <input type="text" value="{{period.toDate|date:'SHORT_DATE_FORMAT'}}" id="fDate" name="fDate" hidden>
            <input type="text" value="{{period.id}}" id="periodID" name="periodID" hidden>
            <input type="text" id="calendar-list" value="{{days}}" hidden>


        </div>
    </div>

    <div class="row">      
        <div class="col-sm-12 my-3 text-right">
            
            <a href="/home/" type="button" class="btn-wtc btn-danger">Close</a> 
        </div>  
    </div>

    <div class="row text-center">
        <div class="col-lg-12 text-center">
            <div id="calendar-container">
                <div id="calendar-header">
                    <div id="calendar-title" class="calendar-title"></div>
                </div>
                <div id="calendar-days" class="calendar-grid">
                    <!-- Aquí se generarán los encabezados de los días de la semana -->
                </div>
                <div id="calendar" class="calendar-grid">
                    <!-- Aquí se generarán los días dinámicamente -->
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 px-4 text-center">
        <div class="col-lg-1 text-center  mr-1">
        </div>
        <div class="col-lg-2 text-center py-2 mr-1" style="background-color: #4CAF50; color: white;">
            Regular
        </div>
        <div class="col-lg-2 text-center py-2 mr-1" style="background-color: #2196F3; color: white;">
            vacation
        </div>
        <div class="col-lg-2 text-center py-2 mr-1" style="background-color: #FFC107; color: black;">
            Sick
        </div>
        <div class="col-lg-2 text-center py-2 mr-1" style="background-color: #ff000c; color: white;">
            Holiday
        </div>
        <div class="col-lg-2 text-center py-2 mr-1" style="background-color: #FF5722; color: white; ">
            Other
        </div>
    </div>

</div>

{% endblock %}