{% extends 'index.html' %} 
{%load static%}

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <div class="card-header card-header-wc">
                        Upload Work Order
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                              <label class="form-label" for="file">Select File</label>                                    
                              <div class="input-group-btn">
                                  <div class="input-group mb-3">
                                      <input type="file" class="form-control" id="file" name="myfile" accept=".xlsx" required>
                                      <label class="input-group-text " for="file">Select File</label>
                                  </div>
                              </div>                                
                        </div>                        
                        <div class="row">
                          <div class="col-lg-12">
                            <p> file Processed: {{imported_data}} </p>
                            {% if countProcessed > 0 %}
                              <p> Records Processed: {{countInserted}} </p>
                              <p> Duplicate Records: {{countRejected}} </p>
                              <p> Processed: {{countProcessed}} </p>
                              <p> Rejected: {{rejectedEmp}} </p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">                                   
                              <button type="submit" class="btn btn-primary">Upload</button>
                              <a href="/catalog/employee_list/1" type="button" class="btn btn-danger">Close</a>                             
                          </div>
                      </div>
                          
                    </div>
                </div>  
                             
            </div>
            
        </div>
        </div>  
    </form>
</div>
{% endblock %}